body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    background-color: #FEFAEF;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizCard {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    align-items: center;
}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 125ms ease-in-out;
}