body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    background-color: #FEFAEF;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizCard {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    align-items: center;
}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 125ms ease-in-out;
}

.bg-success, .bg-danger {
    color: white;
}

.endCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
}

.endCard p {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.points {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.alignCenter {
    text-align: center;
}

.titleAndPoints {
    flex-grow: 1;
}

.card img {

}